@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Outfit", serif;
}

.nav-middle .active, .nav-left .active {
    color: orange;
}

.dashboard-ul .active{
    background-color: rgb(236, 236, 236);
    border-radius: 2px;
    color: rgb(255, 132, 0);
    border-left:3px solid orange;
}

